absl-py==2.4.0
annotated-types==0.7.0
asttokens
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
comm
contourpy
cycler
debugpy
decorator
etils==1.13.0
exceptiongroup
executing
Farama-Notifications==0.0.4
filelock
fonttools
fsspec
gitdb==4.0.12
GitPython==3.1.46
glfw==2.10.0
gmpy2
gym==0.25.2
gym-notices==0.1.0
gymnasium==1.2.3
gymnasium-robotics==1.4.2
idna==3.11
imageio==2.37.2
importlib_resources==6.5.2
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy_loader==0.4
MarkupSafe
matplotlib==3.10.8
matplotlib-inline
metaworld==3.0.0
mpmath
mujoco==3.5.0
munkres==1.1.4
nest_asyncio
networkx
numpy==2.2.6
opencv-python==4.13.0.92
optree
packaging
pandas
parso
patsy
pettingzoo==1.25.0
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
protobuf==6.33.5
psutil
ptyprocess
pure_eval
pybind11
pybind11-global
pybullet==3.2.7
pybulletgym @ git+https://github.com/benelot/pybullet-gym.git@bc68201c8101c4e30dde95f425647a0709ee2f29
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.6.1
Pygments
pymunk==6.11.1
PyOpenGL==3.1.10
pyparsing
PySide6==6.10.2
python-dateutil
pytz
PyYAML==6.0.3
pyzmq
requests==2.32.5
scikit-image==0.25.2
scipy==1.15.2
seaborn
sentry-sdk==2.55.0
shapely==2.1.2
shiboken6==6.10.2
six
smmap==5.0.3
stack_data
statsmodels
sympy
tifffile==2025.5.10
torch
tornado
traitlets
triton
typing-inspection==0.4.2
typing_extensions
tzdata
unicodedata2
urllib3==2.6.3
wandb==0.25.1
wcwidth
zipp==3.23.0