
[GENERAL]
seed=0
n_samples=30000
n_tasks=8
n_trials=3
n_batch=512
buffer_size=200000
n_workers=32

[TASK]
env=maze
# Standard Barreto et al. Gridworld layout
maze=[
    ['1', ' ', ' ', ' ', ' ', '2', 'X', ' ', ' ', ' ', ' ', ' ', 'G'],
    [' ', ' ', ' ', ' ', ' ', ' ', 'X', ' ', ' ', ' ', ' ', ' ', ' '],
    [' ', ' ', ' ', ' ', ' ', ' ', '1', ' ', ' ', ' ', ' ', ' ', ' '],
    [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
    [' ', ' ', ' ', ' ', ' ', ' ', 'X', ' ', ' ', ' ', ' ', ' ', ' '],
    ['2', ' ', ' ', ' ', ' ', '3', 'X', ' ', ' ', ' ', ' ', ' ', ' '],
    ['X', 'X', '3', ' ', 'X', 'X', 'X', 'X', 'X', ' ', '1', 'X', 'X'],
    [' ', ' ', ' ', ' ', ' ', ' ', 'X', '2', ' ', ' ', ' ', ' ', '3'],
    [' ', ' ', ' ', ' ', ' ', ' ', 'X', ' ', ' ', ' ', ' ', ' ', ' '],
    [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
    [' ', ' ', ' ', ' ', ' ', ' ', '2', ' ', ' ', ' ', ' ', ' ', ' '],
    [' ', ' ', ' ', ' ', ' ', ' ', 'X', ' ', ' ', ' ', ' ', ' ', ' '],
    ['_', ' ', ' ', ' ', ' ', ' ', 'X', '3', ' ', ' ', ' ', ' ', '1']]
reacher_train_targets=[(0.14, 0.0), (-0.14, 0.0), (0.0, 0.14), (0.0, -0.14)]
reacher_include_target_in_state=False
maze_env_id=PointMaze_UMaze-v3
maze_goal_cells=[(1, 1)]
maze_reset_cell=(3, 3)
maze_include_goal_in_state=True
continuous_actions=True

# when using UMAZE environment, tasks that have nearby goal cells tend to
# produce highly correlated successor features.  the following parameter
# controls how many grid-cell radius we should jitter existing goals by when
# automatically expanding the list to match `n_tasks`.  set to 0 to disable
# automatic augmentation (default), or a small positive integer to force
# neighbourhood of similar tasks.
maze_similarity_radius=0
maze_goal_jitter=0.5

[AGENT]
gamma=0.95
epsilon=0.55
T=200
print_ev=2000
save_ev=200
save_checkpoints=True

[SFQL]
learning_rate=0.001
learning_rate_prior=0.00001
learning_rate_w=0.5
reward_learning_rate=0.001
use_true_reward=False
hidden_units=128
reward_model=linear
reward_hidden_units=128
successor_representation=sf
sfr_max_centers=16
sfr_center_threshold=0.05

[QL]
learning_rate=0.5

[FGSF]
n_averaging=5
